<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".hash" mimeType="unity/Bundle" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".bundle" allowed="true" />
                    <add fileExtension=".hash" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
